button {
    width: 10vw;
    height: 10vh;
    background-color: rgb(22, 222, 42);
}

table {
    width: 50vw;
    height: 50vh;
    border: 1px solid black;

}

div {
    position: absolute;
    translate: -50% -50%;
    left: 50vw;
    top: 50vh;
}

tr,
td {
    border: 1px solid black;
}

#B1 {
    left: 50vw;
    top: 50vw;
}

#B2 {
    position: absolute;
}