button {
    width: 75vh;
    height: 30vh;
    background-color:rgb(157, 255, 72)
}
table {
        height: 98vh;
        width: 98vh;
        border: 1px solid black;
}

tr, td {
    border: 1px solid black;
}